@import "../mixins.scss";
@import "../variables.scss";

// Header에서 사용되는 Button
.header-buttons {
  background-color: $white-90;
  color: $black-100;
  font-weight: $semibold;
  border: 1px solid $black-10;
  height: 100%;
  border-radius: 3rem;
  font-size: $f-sm;

  @include d-flex-center;
  @include transition-03;

  svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  &.info {
    padding: 0 1.5rem;
    gap: 0.5rem;
  }

  &#header-menu {
    width: 3rem;
  }

  &:hover {
    background-color: $light-pink;
    border: 1px solid $light-pink;
    color: $white-100;
  }
}

// Dropdown Menu Item Button
.button-dropdown-menu {
  background-color: $white-100;
  border: none;
  min-width: 10rem;
  height: 3rem;
  font-weight: $semibold;
  font-size: $f-s;

  &:hover {
    background-color: $black-10;
    border-radius: 1rem;
  }
}

.button-image-upload {
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5000;
  position: absolute;
  border: none;
  opacity: 0;

  @include transition-03;
  @include d-flex-center;

  svg {
    width: 2rem;
    height: 2rem;
    color: $white-100;
  }

  &:hover {
    opacity: 1;
    background-color: $black-50;
  }
}

.button-see-more {
  background-color: transparent;
  border: none;
  height: 3rem;
  font-weight: $semibold;
  color: $white-80;
  margin: 0 auto;

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.button-default {
  padding: 1rem 2rem;
  border: none;
  background-color: $orange;
  font-size: $f-sm;
  color: $white-100;
  border-radius: 1rem;
  font-weight: $semibold;

  &.fill {
    width: 100%;
  }
}

// Button Radio
.button-radio-with-description {
  width: 100%;
  padding: 1.5rem 1rem;
  border: 1px solid $black-20;
  border-radius: 1rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  &:hover {
    border-color: $black-30;
  }

  input {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  & > div {
    span {
      font-size: $f-sm;
      color: $black-60;
    }
  }
}
