.header-buttons {
  background-color: theme(colors.white-30);
  font-weight: theme(fontWeight.semibold);
  height: 100%;
  border-radius: theme(height.14);
  padding: 0 1rem;
  @apply d-flex-center hover-transition;

  &:hover {
    background-color: theme(colors.white-50);
  }
}
