.container-banner {
  width: 100vw;
  position: relative;
  overflow-y: hidden;
  margin-left: -32px;
  margin-top: -1rem;

  @include deviceXS {
    height: 180px;
  }

  @include deviceS {
    height: 220px;
  }

  @include deviceM {
    height: 260px;
  }

  @include deviceL {
    height: 280px;
  }

  @include deviceXL {
    height: 320px;
  }

  & > img {
    object-fit: cover;
  }
}

#container-profile-image {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: visible;

  & > div {
    border-radius: 50%;
    overflow: hidden;
    background-color: $white-100;
    position: absolute;
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5001;

    @include deviceXS {
      width: 115px;
      height: 115px;
      top: -70px;
    }

    @include deviceS {
      width: 130px;
      height: 130px;
      top: -90px;
    }

    @include deviceM {
      width: 150px;
      height: 150px;
      top: -100px;
    }

    @include deviceL {
      width: 165px;
      height: 165px;
      top: -110px;
    }

    @include deviceXL {
      width: 180px;
      height: 180px;
      top: -120px;
    }

    & > div {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      & > img {
        object-fit: cover;
      }
    }
  }
}

#container-profile {
  width: 100%;
}

.container-content-intro {
  padding: 1rem 0.5rem;
  width: 100%;
  flex-direction: column;

  @include d-flex-align-center;

  .nickname-wrapper {
    gap: 0.5rem;
    @include d-flex-center;
  }

  .address-wrapper {
    margin-bottom: 1rem;
    @include d-flex-align-center;

    img {
      margin-right: 0.25rem;
    }

    .intro-address {
      color: $white-90;
      font-weight: $bold;
    }

    .joined {
      margin-left: 1rem;
      font-size: $f-sm;
      color: $white-90;
    }
  }

  .links-wrapper {
    margin-bottom: 2rem;
  }
}

.container-see-more {
  flex-direction: column;

  & > p,
  div {
    overflow: hidden;
    white-space: pre-wrap;
    @include transition-03;
  }
  @include d-flex-center;
}

.container-nft-contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  background-color: $white-100;
  border-radius: 1rem;
  padding: 2rem 3rem;
  flex-direction: column;
  @include d-flex-center;

  & > div {
    width: 100%;
    max-width: 400px;
    gap: 1.5rem;
    flex-direction: column;
    margin: 0 auto;
    @include d-flex-center;

    & > button {
      padding: 1rem 2rem;
      border: none;
      background-color: $orange;
      font-size: $f-sm;
      color: $white-100;
      border-radius: 1rem;
    }
  }
}

// NFT Detail 소개 컨테이너
#container-nft-detail {
  width: calc(100% - 420px - 30px);
  background-color: $white-100;
  border-radius: 2rem;
  overflow: hidden;
  padding: 0 2rem;

  .button-see-more {
    color: $black-80;
  }

  @include deviceL {
    width: calc(100% - 370px - 30px);
  }

  @media (max-width: $break_l - 1) {
    width: 100%;
  }

  .container-see-more {
    align-items: flex-start;
  }

  .container-nft-detail-intro {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (max-width: $break_l - 1) {
      flex-direction: column;
      align-items: center;
    }

    & > .nft-detail-image-wrapper {
      width: calc((100vw - 64px) - (450px - 1rem));
      height: calc((100vw - 64px) - (450px - 1rem));
      max-width: 600px;
      max-height: 600px;
      position: relative;
      border-radius: 2rem;
      overflow: hidden;
      margin: 2rem 0;

      @include deviceL {
        max-width: 472px;
        max-height: 472px;
        width: calc((100vw - 64px) - (400px - 1rem));
        height: calc((100vw - 64px) - (400px - 1rem));
      }

      @media (max-width: $break_l - 1) {
        width: calc((100vw - 64px - 4rem));
        height: calc((100vw - 64px - 4rem));
      }
    }

    & > .box-white {
      width: 420px;
      position: fixed;
      right: 32px;

      @include deviceL {
        width: 370px;
      }

      // 마지막 Divider 가시성 처리
      & > div:last-of-type {
        display: none;
      }

      @media (max-width: $break_l - 1) {
        position: relative;
        right: unset;
        width: 100%;
        padding: 0;

        // 마지막 Divider 가시성 처리
        & > div:last-of-type {
          display: block;
        }
      }
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;

      h1 {
        margin-bottom: 1rem;
      }

      & > .info-box {
        width: 100%;
        display: flex;

        & > div {
          width: 50%;
          h4 {
            margin-bottom: 0.25rem;
            color: $black-50;
          }
        }
      }

      & > .sale-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        & > div {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          span {
            &:first-of-type {
              color: $black-50;
              font-size: $f-sm;
            }
            &:last-of-type {
              font-weight: $semibold;

              font-size: $f-xl;
            }
          }

          @media (max-width: $break_l - 1) {
            gap: 1rem;
            flex-direction: row;
            align-items: flex-end;
          }
        }

        button {
          width: 100%;
          height: 3rem;
          border-radius: 1rem;
          background-color: $light-pink;
          border: 1px solid $light-pink;
          color: $white-100;
          font-size: $f-m;
        }
      }
    }
  }

  .nft-attributes {
    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      & > div {
        width: calc(50% - 0.25rem);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        background-color: rgba(18, 18, 18, 0.04);
        border-radius: 1rem;
        overflow: hidden;

        @include deviceL {
          width: 100%;
        }

        @include deviceXS {
          width: 100%;
        }

        .trait {
          color: $black-100;
          font-weight: $semibold;
        }

        .value {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .more-nfts {
    width: 100%;
    background-color: rgba(18, 18, 18, 0.04);
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;

    & > div {
      display: flex;
      gap: 1rem;
      .box-nft-preview {
        width: 300px;
        height: calc(300px * 1.25);
      }
    }
  }
}
