.container-banner {
  width: 100vw;
  position: relative;
  overflow-y: hidden;
  margin-left: -32px;
  margin-top: -1rem;

  @include deviceXS {
    height: 180px;
  }

  @include deviceS {
    height: 220px;
  }

  @include deviceM {
    height: 260px;
  }

  @include deviceL {
    height: 280px;
  }

  @include deviceXL {
    height: 320px;
  }

  & > img {
    object-fit: cover;
  }
}

#container-profile-image {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: visible;

  & > div {
    border-radius: 50%;
    overflow: hidden;
    background-color: $white-100;
    position: absolute;
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5001;

    @include deviceXS {
      width: 115px;
      height: 115px;
      top: -70px;
    }

    @include deviceS {
      width: 130px;
      height: 130px;
      top: -90px;
    }

    @include deviceM {
      width: 150px;
      height: 150px;
      top: -100px;
    }

    @include deviceL {
      width: 165px;
      height: 165px;
      top: -110px;
    }

    @include deviceXL {
      width: 180px;
      height: 180px;
      top: -120px;
    }

    & > div {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      & > img {
        object-fit: cover;
      }
    }
  }
}

#container-profile {
  width: 100%;
}

.container-content-intro {
  padding: 1rem 0.5rem;
  width: 100%;
  flex-direction: column;

  @include d-flex-align-center;

  .nickname-wrapper {
    gap: 0.5rem;
    @include d-flex-center;
  }

  .address-wrapper {
    margin-bottom: 1rem;
    @include d-flex-align-center;

    img {
      margin-right: 0.25rem;
    }

    .intro-address {
      color: $white-90;
      font-weight: $bold;
    }

    .joined {
      margin-left: 1rem;
      font-size: $f-sm;
      color: $white-90;
    }
  }

  .links-wrapper {
    margin-bottom: 2rem;
  }
}

.container-see-more {
  flex-direction: column;
  @include d-flex-center;
}

.container-nft-contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: $white-100;
  border-radius: 1rem;
  padding: 2rem 3rem;
  flex-direction: column;
  @include d-flex-center;

  & > div {
    width: 100%;
    max-width: 400px;
    gap: 1.5rem;
    flex-direction: column;
    margin: 0 auto;
    @include d-flex-center;

    & > button {
      padding: 1rem 2rem;
      border: none;
      background-color: $orange;
      font-size: $f-sm;
      color: $white-100;
      border-radius: 1rem;
    }
  }
}
