.container-banner {
  width: 100vw;
  position: relative;
  overflow-y: hidden;
  margin-left: -32px;
  margin-top: -1rem;

  @include deviceXS {
    height: 180px;
  }

  @include deviceS {
    height: 220px;
  }

  @include deviceM {
    height: 260px;
  }

  @include deviceL {
    height: 280px;
  }

  @include deviceXL {
    height: 320px;
  }

  & > img {
    object-fit: cover;
  }
}

#container-profile-image {
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: visible;

  & > div {
    border-radius: 50%;
    overflow: hidden;
    background-color: $white-100;
    position: absolute;
    padding: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;

    @include deviceXS {
      width: 115px;
      height: 115px;
      top: -70px;
    }

    @include deviceS {
      width: 130px;
      height: 130px;
      top: -90px;
    }

    @include deviceM {
      width: 150px;
      height: 150px;
      top: -100px;
    }

    @include deviceL {
      width: 165px;
      height: 165px;
      top: -110px;
    }

    @include deviceXL {
      width: 180px;
      height: 180px;
      top: -120px;
    }

    & > div {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      & > img {
        object-fit: cover;
      }
    }
  }
}

#container-profile {
  width: 100%;
}

.container-content-intro {
  padding: 0.5rem;
  width: 100%;
  flex-direction: column;

  @include d-flex-align-center;
}

.container-see-more {
  flex-direction: column;
  @include d-flex-center;
}
