.dropdown-wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;

  .dropdown-contents-wrapper {
    position: absolute;

    @include transition-03;

    .dropdown-contents {
      background-color: $white-100;
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}
