.input-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.input-width-label {
  width: 100%;

  .file-input-wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    @include d-flex-center;

    & > svg {
      width: 2rem;
      height: 2rem;
    }

    video {
      width: 100%;
    }

    &.collection-generate-banner-wrapper {
      width: 100%;
      height: 200px;
      border-radius: 2rem;
    }

    &.collection-generate-profile-wrapper {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }

    &.NFT-minting-image-wrapper {
      width: 15rem;
      height: 15rem;
      border-radius: 2rem;
    }
  }
}

.input-default {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border-style: solid;
  border-width: 1px;
  border-color: $black-30;
  background-color: $white-100;
  font-size: $f-sm;
  resize: vertical;

  &.textarea {
    height: 100px;
  }

  &.error {
    border-color: $red;
  }

  &:focus {
    border-color: $black-50;
  }

  &:read-only {
    background-color: $black-10;

    &.dropdown {
      background-color: $white-100;
      cursor: pointer;
    }
  }
}

.input-error-message {
  font-size: $f-xs;
  color: $red;
}
