@import "../variables.scss";
@import "../mixins.scss";
@import "../breakpoints.scss";

.table {
  width: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.04);
  border-radius: 1rem;

  div,
  span,
  p,
  b,
  a {
    font-size: 1rem !important;
  }

  .table-body {
    width: 100%;
    min-height: 10rem;
    max-height: 17.5rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .table-row {
    height: 3rem;
    display: flex;

    &:not(:last-of-type) {
      border-bottom: 1px solid $black-10;
    }

    .table-contents {
      @include d-flex-center;
    }
  }
}
