.typography-content-title {
  padding: 0.5rem 0;
}

.typography-content-description {
  font-size: $f-m;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 0 2rem;
  overflow: hidden;
  max-height: 50px;

  transition: all 1s ease-in-out;
}
