@import "./variables";
@import "./mixins";
@import "./breakpoints.scss";
@import "./components/common.scss";
@import "./components/buttons.scss";
@import "./components/dropdowns.scss";
@import "./components/inputs.scss";
@import "./components/containers.scss";
@import "./components/boxes.scss";
@import "./components/typography.scss";
@import "./components/modals.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -1px;

  &:focus-visible {
    outline: none;
  }
}

ul,
li,
ol {
  list-style-type: none;
}

html {
  font-size: 14px !important;
  @include deviceXS {
    font-size: 13px !important;
  }
  @include deviceM {
    font-size: 15px !important;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#layout-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: $pink;
  background: -webkit-linear-gradient(to bottom, $pink, $deep-purple, $deep-blue);
  background: linear-gradient(to bottom, $pink, $deep-purple, $deep-blue);
}

.contents-container {
  padding: 0 32px;
}

#main-contents-container {
  padding: 5rem 32px;
  display: flex;
  flex-direction: column;
}

button {
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.triangle-bottom-small {
  width: 0px;
  height: 0px;
  border-top: 7.5px solid $white-100;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  margin: 0 auto;
}
