@import "./variables";
@import "./mixins";
@import "./breakpoints.scss";
@import "./components/header.scss";
@import "./components/buttons.scss";
@import "./components/dropdowns.scss";
@import "./components/inputs.scss";
@import "./components/containers.scss";
@import "./components/boxes.scss";
@import "./components//typography.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
  }
}

ul,
li,
ol {
  list-style-type: none;
}

html {
  font-size: 14px !important;
  @include deviceM {
    font-size: 15px !important;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#layout-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
}

.contents-container {
  padding: 0 32px;
}

#main-contents-container {
  padding: 5rem 32px;
  display: flex;
  flex-direction: column;
}

button {
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
