@layer common {
  .d-flex-align-center {
    display: flex;
    align-items: center;
  }

  .d-flex-justify-center {
    display: flex;
    justify-content: center;
  }

  .d-flex-justify-between {
    display: flex;
    justify-content: space-between;
  }

  .d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hover-transition {
    transition: all 0.3s ease 0s;
  }
}
