// colors
$red: #ff2800;
$deep-navy: #0f172a;
$dark-navy: #1e293b;
$orange: #ff0349;
$pink: #aa4b6b;
$light-pink: #fa236b;
$deep-blue: #3b8d99;
$deep-purple: #6b6b83;
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$white-100: rgba(255, 255, 255, 1);
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);
$black-100: rgba(0, 0, 0, 1);

// font-weight
$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// font-size
$f-s: 1rem;
$f-sm: 1.1rem;
$f-m: 1.2rem;
$f-ml: 1.3rem;
$f-l: 1.4rem;
$f-xl: 1.5rem;
